<div class="signInAUp">
 <div class="cont">
    <h1><i class="fa-solid fa-book-open-reader"></i>StoryBook App</h1>
    <p>Create public and private stories from your life</p>
    <div class="btnCont" >
    <a class="btn btn-danger" href="/login">LogIn</a>
    <a class="btn btn-danger" href="/signUp">SignUp</a>
    </div>
 </div>
</div>