<!-- now working with home -->

<div
  class="info_container d-lg-flex text-center justify-content-between"
  style="height: 55vh"
>
  <div class="info mt-5">
    <h1>Welcome to <span style="color: blue">CodeWithRahul</span></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae qui dicta
      impedit quibusdam perspiciatis laboriosam! Officia ducimus nihil ea
      dolorem corporis illum velit doloribus veritatis blanditiis, nisi sequi
      temporibus. Magnam facere unde tempora quae ducimus. Quo ad, pariatur
      ducimus nesciunt assumenda quibusdam repellat quam delectus, doloribus
      aliquam perspiciatis architecto iusto?
    </p>
    <a href="/course"><button type="button" class="btn btn-dark">Free Courses</button></a>
   <a href="https://news.ycombinator.com/"> <button type="button" class="btn btn-secondary">Explore Blog</button> </a>
  </div>
  <div class="img mt-1">
    <img
      src="https://i.pinimg.com/736x/b6/88/45/b68845a212688ba060337267ba240746--plywood-desk-cup-of-tea.jpg"
      alt=""
      style="width: 100%; height: 100%"
    />
  </div>
</div>

<h1 class="text-center mt-5 mb-5" style="font-family: sans-serif;">Recommended Courses</h1>
<div class="recommended_courses  pb-4 d-md-flex justify-content-around">
    <div class="card rounded mt-2 carrd" style="width: 22rem;">
        <img class="card-img-top" src="https://i.pinimg.com/originals/1c/86/84/1c8684b06bc7ad1e1f6b7b0099d87300.jpg" alt="Card image cap" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title">Python Tutorials - 100 Days of Code</h5>
          <p class="card-text">Python is one of the most demanded programming languages in the job market. Surprisingly, it is equally easy to learn and master Python. Let's commit our 100 days of code to python!</p><br>
          <a href="https://youtube.com/playlist?list=PLu0W_9lII9agICnT8t4iYVSZ3eykIAOME" class="btn btn-primary">Start Watching</a>
        </div>
      </div>
      <div class="card rounded mt-2 carrd" style="width: 22rem;">
        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/3/3b/Javascript_Logo.png" alt="Card image cap" style="width: 100%">
        <div class="card-body">
          <h5 class="card-title">Ultimate JavaScript Course</h5>
          <p class="card-text">This latest JavaScript course comes with premium curriculum that covers everything from basics to advance. On top of that, you will get my handwritten notes of JS for completely free.
          </p>
          <a href="https://youtu.be/hKB-YGF14SY" class="btn btn-primary">Start Watching</a>
        </div>
      </div>
      <div class="card rounded mt-2 carrd" style="width: 22rem;">
        <img class="card-img-top" src="https://i.pinimg.com/564x/6c/0f/b9/6c0fb99c5e58e024ed2a35cb7df8ebd0.jpg" alt="Card image cap" style="width: 100%">
        <div class="card-body">
          <h5 class="card-title">React JS Tutorials For Beginners</h5>
          <p class="card-text">React is a free and open-source front-end JavaScript library. This series will cover React from starting to the end. We will learn react from the ground up!</p>
          <a href="https://youtube.com/playlist?list=PLu0W_9lII9agx66oZnT6IyhcMIbUMNMdt" class="btn btn-primary rounded">Start Watching</a>
        </div>
      </div>
</div>

<h1 class="text-center mt-5 mb-5" style="font-family: sans-serif;">Testimonials</h1>
<div class="recommended_courses  pb-4 d-md-flex justify-content-around">
    <div class="test1">
        <h2 style="color:  rgb(107, 101, 101);"><i class="fa-solid fa-quote-right"></i></h2>
        <p style="color:  rgb(107, 101, 101);">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste ipsa illum maxime explicabo ut dicta rem cupiditate quaerat odit aperiam nihil hic, tenetur exercitationem officiis suscipit quasi corrupti sit accusamus?</p>
        <div class="subtitle" style="margin-left:10px;">
            <h3>Mohit Kumar</h3>
            <p style="color: gray;">Web Developer</p>
        </div>
        
    </div>
    <div class="test2">
        <h2 style="color: gray;"><i class="fa-solid fa-quote-right"></i></h2>
        <p style="color: rgb(107, 101, 101);">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos aspernatur, voluptatibus est cumque quasi sequi doloribus, modi veniam deleniti voluptatum aut amet? Officiis maiores impedit labore, deleniti perspiciatis doloribus eos!</p>
        <div class="subtitle" style="margin-left:10px;">
            <h3>Rohit Shetty</h3>
            <p style="color: gray;">Web Developer</p>
        </div>

    </div>
</div>
