<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <h1>Contact List</h1>
    <ul>
    <%for (let i = 0; i < contact_list.length; i++) {%>
           <li>
            <i class="fa-solid fa-address-book" id="address"></i>
            <p><%= contact_list[i].name%></p>
            <p><%= contact_list[i].phone%></p>
            <a href="delete/?id=<%=contact_list[i]._id%>"><i class="fa-solid fa-trash" id="tr"></i></a>
          </li>
    <%}%>
</ul>

<form action="/create" method="post">
    <input type="text" name = "name" placeholder="Enter Your Name" required>
    <input type="number" name = "phone" placeholder="Enter your phone number" required>
    <button type="submit">Add Contact</button>
</form>
</body>
</html>