<link rel="stylesheet" href="/css/design.css">
<h1 class="my-3 text-success mx-5"><%=food[0].category%> Dishes</h1>
<div class="row mx-3 my-2">
  <%for(let i = 0; i < food.length; i++){%>
  <a
    class="col-lg-2 rounded mx-3"
    style="height: 18rem; overflow: hidden; cursor: pointer; text-decoration:none"
    href="/recipe/<%=food[i]._id%>"
    id="category"
  >
    <img
      src="<%=food[i].image%>"
      alt=""
      class="cate2"
    />
    <p style="text-align: center" class="my-3 text-success"><%=food[i].name%></p>
  </a>
<%}%>